<configuration xmlns="http://logging.apache.org/log4php/">
	<!-- Make rolling log file-->
	<appender name="default" class="LoggerAppenderDailyFile">
	<layout class="LoggerLayoutPattern">
		<!-- [Date] [Time] [Logging Level] [Class Name] - [Message]-->
		<param name="ConversionPattern" value="%date{Y-m-d H:i:s,u} %logger %-5level %msg%n" />
	</layout>
		<param name="file" value="/Users/Brandon/Desktop/log%s.txt" />
		<!-- Location log will be created-->
		<!-- Make log file roll over by date and not by size -->
		<param name="datePattern" value="Y-m-d" />
		<!-- Make log file roll over daily -->
	</appender>
	<root>
		<!-- Log only at DEBUG level and higher -->
		<level value="DEBUG" />
		 <appender_ref ref="default" />
	</root>
</configuration>